*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(253, 253, 183);
}
.titleone{
      background-color: rgb(131, 52, 52);
      display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
    font-family: "Edu QLD Hand", cursive;
    color: rgba(255,255,204,255);
    padding: 1px;
    z-index: 2;
}
.titleonered{
    background-color: rgba(204,0,0,255);
    color: transparent;
    margin-bottom: 10px;
}
.titletwo{
    background-color: rgba(0,153,0,255);
    color: white;
    margin: 0.2px;
    
}
.randomtable{
color: rgb(189, 189, 189);
}